.footer-parent{
  text-align: center;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 18px;
  background-color: #ebebeb;
  color: #000000;
  margin: 55px 85px 0px 85px;
  .link{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 300;
  }
}