.tabs{
  background-color: #e60000;
  height: 44px;
  padding-left: 131px;
  .tab-links{
    border: none;
    background-color: #e60000;
    color: #ffffff;
    font-size: 18px;
    outline: none;
    height: 44px;
    &:hover {
      color: #000000;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}